<mat-toolbar color="primary" *ngIf="isAuthenticated">
  <button mat-icon-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>

  <span>Ionic Cordova App</span>
  <span class="lmar-mat-spacer"></span>
  <button mat-icon-button><mat-icon>favorite</mat-icon></button>
  <button mat-icon-button><mat-icon>share</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sideNav [(opened)]="opened" mode="over" color="primary">
    <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />
    <h4 class="name">John Smith</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>

    <mat-list>
      <a mat-raised-button *ngFor="let page of pages" routerLink={{page.url}}>
        <mat-icon>{{page.icon}}</mat-icon>
        {{page.title}}
      </a>
    </mat-list>
    <button mat-raised-button color="warn" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
